*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ol {
    color: white;
    list-style-type: none;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    border: 2px solid white;
    border-radius: 12px;
    margin: 120px;
    padding: 120px;

}

a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    background-color: green;
    color: crimson;
}

body > h3{
    color: green;
}

ol  li {
    text-align: center;
}

ol + h3 {
    color: brown
}